
/* Navigaatio */
nav {
    margin-bottom: 5%;
}
/* taustan v채ri */
.navbar-custom {
    background-color:rgb(247, 200, 226); 	
}
/* tekstin v채ri */
.navbar-custom .navbar-text{
    color:#323853;
}
/* linkin v채ri */
  .navbar-custom .navbar-nav .nav-link {
    color:#323853;
}
/* aktiivisen & hover-linkin v채ri */ 
 .navbar-custom .nav-item.active .nav-link,
 .navbar-custom .nav-item:hover .nav-link {
    color: #1d0e2b;
}

/* Sivun yleisilme */
body {
    background-image: url(Kuvat/tile.jpg);
    background-size:cover;
}

/* Karuselli */
/* karusellin tekstilaatikot ja karusellin tausta*/
.carousel-caption {
    background-color: #c595b3dc;
}
.container-custom {
    background-color:rgb(240, 203, 224); 	
}

/* Ruudukko */
.colblue {
    background-color: #ccd4f3;
}

.colpink {
    background-color: #f3cee8;
}

