
/* Navigaatio */
nav {
    margin-bottom: 5%;
}
/* taustan väri */
.navbar-custom {
    background-color:rgb(255, 240, 248); 	
}
/* linkin väri */
  .navbar-custom .navbar-nav .nav-link {
    color:#000000;
}
/* aktiivisen & hover-linkin väri */ 
 .navbar-custom .nav-item.active .nav-link,
 .navbar-custom .nav-item:hover .nav-link {
    color: #ffa9de;
}

/* Sivun yleisilme */
body {
    background-image: url(Kuvat/tile.jpg);
    background-size:cover;
}

/* Logo fontti */
.logo-font {
    font-family: 'Playfair Display', serif;
}

/* Headers (h1, h2, h3) */
h1, h2, h3 {
    font-family: 'Quicksand', sans-serif;
}

/* Body fontti */
body, p, a, li {
    font-family: 'Lora', serif;
}

/* Karuselli */
/* karusellin tekstilaatikot ja karusellin tausta*/
.carousel-caption {
    background-color: #c595b3dc;
}
/* Karuselli kuvat */
.carousel-inner img {
    max-width: 500px;
    margin: auto;
}
.container-custom {
    background-color:rgb(240, 203, 224); 	
    max-width: 500px;
}

/* Ruudukko */
.colblue {
    background-color: #ccd4f3;
}

.colpink {
    background-color: #f3cee8;
}

