
/* taustan v채ri */
.navbar-custom {
    background-color:rgb(157, 197, 152); 	
}
/* ekstin v채ri */
.navbar-custom .navbar-text{
    color:#323853;
}
/* linkin v채ri */
  .navbar-custom .navbar-nav .nav-link {
    color:#323853;
}
/* aktiivisen & hover-linkin v채ri */ 
 .navbar-custom .nav-item.active .nav-link,
 .navbar-custom .nav-item:hover .nav-link {
    color: #1d0e2b;
}

/* karusellin tekstilaatikot */
.carousel-caption {
    background-color: #c0c7e7e7;
}